@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500);

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700);

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.js-tabs__trigger.open::after,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-cat:before {
  content: "\e901";
}

._icon-in:before {
  content: "\e902";
}

._icon-insta:before {
  content: "\e903";
}

._icon-shape:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 38px;
  padding-bottom: 38px;
  background-color: rgba(255, 255, 255, 0.75);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__actions {
  position: relative;
  z-index: 5;
  border: 1px solid rgba(111, 108, 108, 0.9);
  border-radius: 15px;
  transition: all 0.3s ease 0s;
}

.header__actions:hover {
  background-color: #7E74F1;
}

.header__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding: 16px 24px;
  display: block;
  color: #232E35;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  color: white;
}

.menu__link {
  color: inherit;
  font-weight: 400;
  line-height: 1.18;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #7E74F1;
}

.menu__link._active {
  color: #7E74F1;
}

.icon-menu._active {
  background-color: inherit;
}

.icon-menu._active span {
  transform: scale(0) translate(0px, -50%);
}

.icon-menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.icon-menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 88px;
  padding-bottom: 88px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social__items {
  display: flex;
  gap: 34px;
}

.social__item {
  color: inherit;
  font-size: 22px;
  transition: color 0.3s ease 0s;
}

.social__item:hover {
  color: #7E74F1;
}

.main-section {
  padding-top: 240px;
  padding-bottom: 144px;
}

.main-section__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-section__content {
  flex: 1 1 auto;
}

.main-section__subtitle:not(:last-child) {
  margin-bottom: 16px !important;
}

.main-section__title {
  font-size: 44px !important;
}

.main-section__title span {
  color: #7E74F1;
}

.main-section__text {
  font-weight: 400;
  line-height: 2;
  max-width: 538px;
}

.main-section__text:not(:last-child) {
  margin-bottom: 40px;
}

.decor-main-section {
  flex: 0 0 336px;
}

.decor-main-section__box {
  position: relative;
  padding-bottom: 119%;
}

.decor-main-section__box::after,
.decor-main-section__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.decor-main-section__box::after {
  z-index: 2;
  background: #EAE6FE url("../img/line.svg") top right no-repeat;
}

.decor-main-section__box::before {
  z-index: 1;
  background: #7E74F1;
  border-radius: 16px;
  transform: rotate(-9.55deg);
}

.decor-main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
}

.decor-main-section__picture {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.social__list {
  display: flex;
  gap: 34px;
}

.social__link {
  color: inherit;
  font-size: 24px;
  transition: color 0.3s ease 0s;
}

.social__link:hover {
  color: #7E74F1;
}

.specialized {
  padding-top: 114px;
  padding-bottom: 184px;
  background: #FBFBFB;
}

.specialized__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialized__title {
  margin-bottom: 104px;
}

.specialized__items {
  display: flex;
  gap: 56px;
}

.specialized__item {
  flex: 0 1 33.333%;
  background: white;
  padding: 50px;
}

.item-specialized {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-specialized__icon {
  background: #F5F3FE;
  border-radius: 16px;
  padding: 20px;
}

.item-specialized__icon:not(:last-child) {
  margin-bottom: 24px;
}

.item-specialized__title {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25;
}

.item-specialized__title:not(:last-child) {
  margin-bottom: 16px;
}

.item-specialized__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.personal {
  padding-top: 114px;
  padding-bottom: 184px;
}

.personal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal__title {
  margin-bottom: 144px;
}

.personal__items {
  display: flex;
  gap: 40px;
}

.personal__item {
  flex: 0 1 33.333%;
  border: 1px solid #cfd9e1;
}

.item-personal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.item-personal__image {
  position: relative;
  padding-bottom: 65%;
}

.item-personal__image img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-personal__body {
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.item-personal__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.item-personal__title:not(:last-child) {
  margin-bottom: 16px;
}

.item-personal__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #656D72;
}

.item-personal__subtitle:not(:last-child) {
  margin-bottom: 16px;
}

.item-personal__text {
  font-weight: 400;
  line-height: 2;
  color: #656D72;
  flex: 1 1 auto;
}

.item-personal__text:not(:last-child) {
  margin-bottom: 42px;
}

.item-personal__button {
  align-self: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #656D72;
}

.testimonials {
  padding-top: 104px;
  padding-bottom: 153px;
  background-color: #FBFBFB;
}

.testimonials__title:not(:last-child) {
  margin-bottom: 132px;
}

.testimonials__columns {
  display: flex;
  gap: 48px;
}

.testimonials__item {
  padding: 83px 32px 24px 32px;
  background-color: white;
  flex: 0 1 33.333%;
}

.item-testimonials {
  display: flex;
  flex-direction: column;
}

.item-testimonials__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.item-testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin-top: -130px;
  margin-bottom: 32px;
}

.item-testimonials__text {
  font-weight: 400;
  line-height: 1.75;
  flex: 1 1 auto;
}

.item-testimonials__text:not(:last-child) {
  margin-bottom: 48px;
}

.item-testimonials__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 9px;
}

.item-testimonials__subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #656D72;
  background: #FBFBFB;
  border-radius: 4px;
  padding: 4px 8px;
}

.skills {
  padding-top: 104px;
  padding-bottom: 224px;
}

.skills__title:not(:last-child) {
  margin-bottom: 107px;
}

.skills__body {
  display: flex;
  gap: 226px;
}

.skills__universities {
  flex: 0 1 33%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
}

.skills__universities::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 12px;
  width: 1px;
  height: 75%;
  background-color: #F1F1F1;
}

.skills__content {
  flex: 0 1 67%;
}

.universities-skills {
  position: relative;
}

.universities-skills::before {
  content: "";
  position: absolute;
  background-color: #F1F1F1;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  top: 0px;
  left: -36px;
}

.universities-skills__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25;
}

.universities-skills__title:not(:last-child) {
  margin-bottom: 10px;
}

.universities-skills__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #656D72;
}

.universities-skills__subtitle:not(:last-child) {
  margin-bottom: 24px;
}

.universities-skills__date {
  font-weight: 500;
  line-height: 1.2;
}

.content-skills__text {
  max-width: 584px;
  font-weight: 400;
  line-height: 2;
  color: #656D72;
  margin-bottom: 64px;
}

.content-skills__bars:not(:last-child) {
  margin-bottom: 40px;
}

.content-skills__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.content-skills__line {
  width: 85.2%;
  height: 8px;
  background: #F5F3FE;
  border-radius: 0px 2px 2px 0px;
}

.content-skills__line span {
  background-color: #7E74F1;
  height: 8px;
  display: block;
  border-radius: 2px 0px 0px 2px;
}

.contacts {
  background: #FBFBFB;
  padding-top: 104px;
  padding-bottom: 134px;
}

.contacts__container {
  display: flex;
  align-items: center;
  gap: 104px;
}

.contacts__form {
  flex: 0 1 50%;
}

.contacts__info {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.form-contacts {
  display: flex;
  flex-direction: column;
}

.form-contacts__name {
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 16px;
  height: 48px;
  padding: 0 24px;
}

.form-contacts__name:focus {
  border: 1px solid black;
}

.form-contacts__email {
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 24px;
  height: 48px;
  padding: 0 24px;
}

.form-contacts__email:focus {
  border: 1px solid black;
}

.form-contacts__message {
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 48px;
  padding: 16px 24px;
}

.form-contacts__message:focus {
  border: 1px solid black;
}

.form-contacts textarea.form-contacts__message {
  height: 190px;
}

.form-contacts__button {
  padding: 16px 0px;
  background: #7E74F1;
  border: 1px solid #EAE6FE;
  border-radius: 8px;
  color: white;
}

.item-contacts-info {
  display: flex;
}

.item-contacts-info__icon {
  background: #F5F3FE;
  border-radius: 16px;
  padding: 16px;
  margin-right: 24px;
}

.item-contacts-info__title {
  font-weight: 500;
  line-height: 1.8;
}

.item-contacts-info__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #656D72;
}

.portfolio {
  padding-top: 114px;
  padding-bottom: 176px;
}

.portfolio__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 144px;
}

.portfolio__arrows {
  display: flex;
  align-items: center;
  gap: 16px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.arrows-portfolio {
  padding: 15px 17px;
  font-size: 12px;
  color: #7E74F1;
  background: #EAE6FE;
  border-radius: 16px;
  transition: background-color, 0.3s ease 0s;
}

.arrows-portfolio:hover {
  background-color: #cec6f6;
}

.arrows-portfolio__left {
  transform: rotate(-180deg);
}

.item-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

.item-portfolio__image {
  position: relative;
  padding-bottom: 82%;
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}

.item-portfolio__image:hover {
  opacity: 1;
  transform: scale(1.1);
}

.item-portfolio__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.item-portfolio__body {
  padding: 24px;
}

.item-portfolio__title {
  font-weight: 500;
  line-height: 1.25;
}

.item-portfolio__title:not(:last-child) {
  margin-bottom: 16px;
}

.item-portfolio__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #656D72;
  padding: 4px 8px;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  margin-right: 16px;
}

.item-portfolio__link {
  display: inline-block;
  color: #656D72;
  font-size: 10px;
}

.career {
  background: #FBFBFB;
  padding-top: 110px;
  padding-bottom: 110px;
}

.career__container {
  display: flex;
  align-items: center;
}

.career__column-tabs {
  flex: 0 1 24%;
}

.career__title {
  margin-bottom: 80px;
}

.career__column-content {
  flex: 0 1 76%;
  padding-left: 137px;
}

.career__navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navigation-career__title {
  text-align: left;
  background-color: white;
  padding: 16px 32px;
}

.js-tabs__block {
  display: none;
}

.js-tabs__block.open {
  display: block;
}

.js-tabs__trigger.open {
  color: #7E74F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.js-tabs__trigger.open::after {
  font-size: 12px;
  content: "\e900";
}

.career-content__header {
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.career-content__title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.career-content__title:not(:last-child) {
  margin-bottom: 8px;
}

.career-content__title a {
  text-decoration: underline;
  color: inherit;
}

.career-content__location {
  font-weight: 400;
  font-size: 1.2;
  line-height: 17px;
  color: #656D72;
}

.career-content__location:not(:last-child) {
  margin-bottom: 16px;
}

.career-content__time {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: #656D72;
}

.career-content__time:not(:last-child) {
  margin-bottom: 16px;
}

.career-content__link {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #656D72;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  padding: 4px 8px;
  transition: all 0.3s ease 0s;
}

.career-content__link:not(:last-child) {
  margin-right: 16px;
}

.career-content__link:hover {
  color: white;
  background-color: #7E74F1;
}

.career-content__text {
  position: relative;
  font-weight: 400;
  line-height: 1.18;
  color: #656D72;
  padding-left: 28px;
}

.career-content__text:not(:last-child) {
  margin-bottom: 16px;
}

.career-content__text::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #D9D9D9;
  position: absolute;
  left: 0;
  top: 8px;
}

/**
 * Swiper 8.4.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 12, 2022
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

body {
  font-family: inter;
  color: #232E35;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 7.5px;
  color: #656D72;
}

.subtitle::before {
  content: "";
  width: 16px;
  height: 2px;
  background: #D9D9D9;
}

.subtitle:not(:last-child) {
  margin-bottom: 8px;
}

.title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  font-size: 36px;
}

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    gap: 55px;
  }
}

@media (max-width: 1250px) {
  .decor-main-section {
    margin-right: 30px;
  }
}

@media (max-width: 1230px) {
  .header {
    padding-top: calc(20px + 18 * ((100vw - 320px) / 910));
  }

  .header {
    padding-bottom: calc(20px + 18 * ((100vw - 320px) / 910));
  }

  .footer {
    padding-top: calc(25px + 63 * ((100vw - 320px) / 910));
  }

  .footer {
    padding-bottom: calc(25px + 63 * ((100vw - 320px) / 910));
  }

  .main-section {
    padding-top: calc(100px + 140 * ((100vw - 320px) / 910));
  }

  .main-section {
    padding-bottom: calc(30px + 114 * ((100vw - 320px) / 910));
  }

  .specialized {
    padding-top: calc(30px + 84 * ((100vw - 320px) / 910));
  }

  .specialized {
    padding-bottom: calc(30px + 154 * ((100vw - 320px) / 910));
  }

  .specialized__title {
    margin-bottom: calc(30px + 74 * ((100vw - 320px) / 910));
  }

  .specialized__items {
    gap: calc(20px + 36 * ((100vw - 320px) / 910));
  }

  .specialized__item {
    padding: calc(20px + 30 * ((100vw - 320px) / 910));
  }

  .personal {
    padding-top: calc(30px + 84 * ((100vw - 320px) / 910));
  }

  .personal {
    padding-bottom: calc(30px + 154 * ((100vw - 320px) / 910));
  }

  .personal__title {
    margin-bottom: calc(30px + 114 * ((100vw - 320px) / 910));
  }

  .personal__items {
    gap: calc(20px + 20 * ((100vw - 320px) / 910));
  }

  .item-personal__text:not(:last-child) {
    margin-bottom: calc(20px + 22 * ((100vw - 320px) / 910));
  }

  .testimonials {
    padding-top: calc(30px + 74 * ((100vw - 320px) / 910));
  }

  .testimonials {
    padding-bottom: calc(30px + 123 * ((100vw - 320px) / 910));
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: calc(50px + 82 * ((100vw - 320px) / 910));
  }

  .testimonials__columns {
    gap: calc(15px + 33 * ((100vw - 320px) / 910));
  }

  .item-testimonials__text:not(:last-child) {
    margin-bottom: calc(20px + 28 * ((100vw - 320px) / 910));
  }

  .skills {
    padding-top: calc(30px + 74 * ((100vw - 320px) / 910));
  }

  .skills {
    padding-bottom: calc(30px + 194 * ((100vw - 320px) / 910));
  }

  .skills__title:not(:last-child) {
    margin-bottom: calc(25px + 82 * ((100vw - 320px) / 910));
  }

  .skills__body {
    gap: calc(0px + 226 * ((100vw - 320px) / 910));
  }

  .content-skills__text {
    margin-bottom: calc(25px + 39 * ((100vw - 320px) / 910));
  }

  .content-skills__title {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 910));
  }

  .contacts {
    padding-top: calc(30px + 74 * ((100vw - 320px) / 910));
  }

  .contacts {
    padding-bottom: calc(30px + 104 * ((100vw - 320px) / 910));
  }

  .contacts__container {
    gap: calc(20px + 84 * ((100vw - 320px) / 910));
  }

  .contacts__info {
    gap: calc(20px + 28 * ((100vw - 320px) / 910));
  }

  .portfolio {
    padding-top: calc(30px + 84 * ((100vw - 320px) / 910));
  }

  .portfolio {
    padding-bottom: calc(30px + 146 * ((100vw - 320px) / 910));
  }

  .portfolio__header {
    margin-bottom: calc(30px + 114 * ((100vw - 320px) / 910));
  }

  .career {
    padding-top: calc(30px + 80 * ((100vw - 320px) / 910));
  }

  .career {
    padding-bottom: calc(30px + 80 * ((100vw - 320px) / 910));
  }

  .career__title {
    margin-bottom: calc(20px + 60 * ((100vw - 320px) / 910));
  }

  .career__column-content {
    padding-left: calc(20px + 117 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 768px) {
  .menu__body {
    transition: transform 0.3s ease 0s;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    overflow: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #7E74F1;
    transform: translate(-100%, 0);
  }

  .menu__body._active {
    transform: translate(0, 0);
  }

  .menu__link {
    color: white;
    font-size: 35px;
  }

  .icon-menu {
    display: flex;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu::after,
  .icon-menu::before {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    transition: all 0.3s ease 0s;
  }

  .icon-menu._active span,
  .icon-menu._active::before,
  .icon-menu._active::after {
    background-color: white;
  }

  .icon-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .main-section__container {
    flex-direction: column;
  }

  .decor-main-section {
    margin-right: 0px;
  }

  .decor-main-section__box {
    width: 336px;
  }

  .specialized__items {
    flex-direction: column;
  }

  .testimonials__columns {
    flex-direction: column;
    gap: 40px;
  }

  .contacts__container {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .contacts__form {
    flex-direction: column-reverse;
    flex: 1 1 auto;
  }
}

@media (max-width: 768px) and (max-width: 1230px) {
  .decor-main-section__box {
    width: calc(290px + 46 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 767.98px) {
  .skills__body {
    flex-direction: column;
    row-gap: 40px;
  }
}

@media (max-width: 730px) {
  .personal__items {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .career__container {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .career__column-content {
    padding-left: 0;
  }
}